source/DataLoader/Service References/Services/GraphManagementService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51676/GraphManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServices.DAO" />
  <xs:element name="GetGraphNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGraphNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServices.DAO" minOccurs="0" name="GetGraphNodeResult" nillable="true" type="q1:GraphNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncGraphNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServices.DAO" minOccurs="0" name="node" nillable="true" type="q2:GraphNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncGraphNodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidateAllGraphNodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidateAllGraphNodesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllInvalidGraphNodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllInvalidGraphNodesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>