source/IntegrationTests/Service References/GraphManagementService/GraphManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GraphManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51676/GraphManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51676/GraphManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51676/GraphManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GraphServices.DTO" />
      <xsd:import schemaLocation="http://localhost:51676/GraphManagementService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGraphManagementService_SyncGraphNode_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncGraphNode" />
  </wsdl:message>
  <wsdl:message name="IGraphManagementService_SyncGraphNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncGraphNodeResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphManagementService_InvalidateAllGraphNodes_InputMessage">
    <wsdl:part name="parameters" element="tns:InvalidateAllGraphNodes" />
  </wsdl:message>
  <wsdl:message name="IGraphManagementService_InvalidateAllGraphNodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvalidateAllGraphNodesResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphManagementService_DeleteAllInvalidGraphNodes_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllInvalidGraphNodes" />
  </wsdl:message>
  <wsdl:message name="IGraphManagementService_DeleteAllInvalidGraphNodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllInvalidGraphNodesResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphManagementService_NormalizeRelations_InputMessage">
    <wsdl:part name="parameters" element="tns:NormalizeRelations" />
  </wsdl:message>
  <wsdl:message name="IGraphManagementService_NormalizeRelations_OutputMessage">
    <wsdl:part name="parameters" element="tns:NormalizeRelationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IGraphManagementService">
    <wsdl:operation name="SyncGraphNode">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphManagementService/SyncGraphNode" message="tns:IGraphManagementService_SyncGraphNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphManagementService/SyncGraphNodeResponse" message="tns:IGraphManagementService_SyncGraphNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvalidateAllGraphNodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphManagementService/InvalidateAllGraphNodes" message="tns:IGraphManagementService_InvalidateAllGraphNodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphManagementService/InvalidateAllGraphNodesResponse" message="tns:IGraphManagementService_InvalidateAllGraphNodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllInvalidGraphNodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphManagementService/DeleteAllInvalidGraphNodes" message="tns:IGraphManagementService_DeleteAllInvalidGraphNodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphManagementService/DeleteAllInvalidGraphNodesResponse" message="tns:IGraphManagementService_DeleteAllInvalidGraphNodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NormalizeRelations">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphManagementService/NormalizeRelations" message="tns:IGraphManagementService_NormalizeRelations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphManagementService/NormalizeRelationsResponse" message="tns:IGraphManagementService_NormalizeRelations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGraphManagementService" type="tns:IGraphManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncGraphNode">
      <soap:operation soapAction="http://tempuri.org/IGraphManagementService/SyncGraphNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvalidateAllGraphNodes">
      <soap:operation soapAction="http://tempuri.org/IGraphManagementService/InvalidateAllGraphNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllInvalidGraphNodes">
      <soap:operation soapAction="http://tempuri.org/IGraphManagementService/DeleteAllInvalidGraphNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NormalizeRelations">
      <soap:operation soapAction="http://tempuri.org/IGraphManagementService/NormalizeRelations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GraphManagementService">
    <wsdl:port name="BasicHttpBinding_IGraphManagementService" binding="tns:BasicHttpBinding_IGraphManagementService">
      <soap:address location="http://localhost:51676/GraphManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>