source/GraphClient/Service References/GraphDataService/GraphDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GraphDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51676/GraphDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51676/GraphDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51676/GraphDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GraphServices.DTO" />
      <xsd:import schemaLocation="http://localhost:51676/GraphDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGraphDataService_GetGraphNode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGraphNode" />
  </wsdl:message>
  <wsdl:message name="IGraphDataService_GetGraphNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGraphNodeResponse" />
  </wsdl:message>
  <wsdl:message name="IGraphDataService_GetAllGraphNodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGraphNodes" />
  </wsdl:message>
  <wsdl:message name="IGraphDataService_GetAllGraphNodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGraphNodesResponse" />
  </wsdl:message>
  <wsdl:portType name="IGraphDataService">
    <wsdl:operation name="GetGraphNode">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphDataService/GetGraphNode" message="tns:IGraphDataService_GetGraphNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphDataService/GetGraphNodeResponse" message="tns:IGraphDataService_GetGraphNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGraphNodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraphDataService/GetAllGraphNodes" message="tns:IGraphDataService_GetAllGraphNodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraphDataService/GetAllGraphNodesResponse" message="tns:IGraphDataService_GetAllGraphNodes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGraphDataService" type="tns:IGraphDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGraphNode">
      <soap:operation soapAction="http://tempuri.org/IGraphDataService/GetGraphNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGraphNodes">
      <soap:operation soapAction="http://tempuri.org/IGraphDataService/GetAllGraphNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GraphDataService">
    <wsdl:port name="BasicHttpBinding_IGraphDataService" binding="tns:BasicHttpBinding_IGraphDataService">
      <soap:address location="http://localhost:51676/GraphDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>